<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT - Chatrooms</title>
	<link rel="stylesheet" href="/chatcat/static/css/chatroom.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/chatcat/socket.io/socket.io.js"></script>

	<script type="text/javascript">
	$(function(){
		var host = '{{config.host}}';
		var socket = io.connect(host + '/chatcat/roomlist'); // http://localhost:3000/roomlist

		socket.on('connect', function(){
			console.log('Connection Established !');
		});

		socket.on('roomupdate', function(data){
			var procData = JSON.parse(data);
			$('.roomlist').html('');
			for(var i = 0; i < procData.length; i++){
				var str = '<a href="room/' + procData[i].room_number + '"><li>' + procData[i].room_name + '</li></a>';
				$('.roomlist').prepend(str);
			}
		});

		$(document).on('click', '#create', function(){
			var room_name = $('.newRoom').val();
			if(room_name!=''){
				var room_number = parseInt(Math.random() * 10000);
				socket.emit('newroom', {room_name:room_name, room_number:room_number});
				$('.newRoom').val('');
			}
		});
	});
	</script>
</head>
<body>
	<div class="cr-container">
		<h1 class="cr-title">ChatCAT</h1>
		<div class="cr-userbox">
			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullname}} | <a href="/logout">Logout</a></h3>
		</div>
		<div class="cr-newroom">
			<input type="text" class="newRoom" autocomplete="off">
			<button id="create">Create Room</button>
		</div>
		<div class="cr-roomlist">
			<ul class="roomlist">
				<!-- <a href="#"><li>NodeJS</li></a>
				<a href="#"><li>Cloud Computing</li></a>
				<a href="#"><li>MongoDB</li></a> -->
			</ul>
		</div>
	</div>
</body>
</html>
