<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/chatcat/static/css/home.css">
</head>
<body>
<div class="hm-container">
	<h1 class="hm-title">ChatCAT</h1>
	<a href="/chatcat/auth/facebook"><img src="/chatcat/static/images/login_with_facebook.png"></a>
</div>
	
</body>
</html>
