<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCAT</title>
	<link rel="stylesheet" href="/chatcat/static/css/room.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/chatcat/socket.io/socket.io.js"></script>
	<script type="text/javascript">
	$(function(){
		var host = '{{config.host}}';
		var messages = io.connect(host + '/chatcat/messages');
		var roomNum = '{{room_number}}';
		var userName = '{{user.fullname}}';
		var userPic = '{{user.profilePic}}';

		messages.on('connect', function(){
			console.log('Connection Established !!');
			messages.emit('joinroom', {room:roomNum, user:userName, userPic:userPic})
		})

		$(document).on('keyup', '.newmessage', function(e){
			if(e.which === 13 && $(this).val()!=''){
				messages.emit('newMessage', {
					room_number:roomNum,
					user:userName,
					userPic:userPic,
					message:$(this).val()
				})
				updateMessageFeed(userPic, $(this).val());
				$(this).val('');
			}
		})

		messages.on('messagefeed', function(data){
			var msgs = JSON.parse(data);
			updateMessageFeed(msgs.userPic, msgs.message);
		})

		function updateMessageFeed(userPic, message){
			var str = '<li>';
				str += '<div class="msgbox">';
				str +=	'<div class="pic"><img src="' + userPic + '"></div>';
				str +=	'<div class="msg"><p>' + message + '</p></div>';
				str +=	'</div>';
				str += '</li>';
			$(str).hide().prependTo($('.messages')).slideDown(100);
		};

		messages.on('updateUserList', function(data){
			var userlist = JSON.parse(data);
			console.log(userlist);
			$('.users').html('');
			for (var i = userlist.length - 1; i >= 0; i--) {
				var str = '<li><img src="' + userlist[i].userPic + '"><h5>' + userlist[i].user + '</h5></li>';
				$(str).prependTo($('.users'));
			};
		});

		setInterval(function(){
			messages.emit('updateList', {room: roomNum});
		}, 15 * 1000);

		/*messages.on('updateUsersList', function(data){
			var userlist = JSON.parse(data);
			$('.users').html('');
			for(var n = 0; n < userlist.length; n++){
				var str = '<li><img src="' + userlist[n].userPic + '"><h5>' + userlist[n].user + '</h5></li>';
				$(str).prependTo($('.users'));
			}
		})

		setInterval(function(){
			messages.emit('updateList', {room:roomNum});
		}, 15 * 1000);*/
	})
	</script>
</head>
<body>
<div class="rm-container">
		<h1 class="rm-title">ChatCAT</h1>
		<div class="rm-userbox">
			<img src="{{user.profilePic}}" class="userPic">
			<h3 class="userName">{{user.fullname}} | <a href="/logout">Logout</a><a href="/chatrooms">More Chatrooms</a></h3>
		</div>
		<div class="rm-roomname">
			<h5>{{room_name}}</h5>
		</div>
		<div class="rm-messages">
			<ul class="messages">
				<!-- <li>
					<div class="msgbox">
						<div class="pic"><img src="../public/images/profilepic.jpg">Sachin Bhatnagar</div>
						<div class="msg"><p>Hi there this looks nice !</p></div>
					</div>
				</li>  -->
			</ul>
		</div>
		<div class="rm-users">
			<ul class="users">
				
			</ul>
		</div>
		<div class="rm-newmessage">
			<input type="text" class="newmessage" autocomplete="off" placeholder="Type in your message and press enter !">
			
		</div>
	</div>
</body>
</html>
